body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f8ff;
    padding: 40px;
}

h1 {
    color: #1e40af;
}

.game-box {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}

button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}
